@using DAL.ViewModels;
@model OrderAppWaitingListViewModel

@{
    Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
}

<div class="d-flex justify-content-between">
    <div class="fs-2 fw-bold text-primary"> Waiting List</div>
    <button class="btn btn-outline-primary p-1 " data-bs-toggle="modal" data-bs-target="#AddWaitingTOkenModal">+ Waiting
        Token</button>

</div>

<div class="bg-white  mt-2 p-2 pb-0  d-flex justify-content-start align-item-center " id="sectionListDisplay"
    style=" overflow:auto; scrollbar-width: thin;">

</div>

<div class="bg-white mt-3" style="min-height: 100px;">
    <div class="table-responsive">
        <table class="table ">
            <thead>
                <tr>
                    <th class="text-nowrap">#Token No.</th>
                    <th class="text-nowrap">Created At</th>
                    <th class="text-nowrap">Waiting Time</th>
                    <th class="text-nowrap">Name</th>
                    <th class="text-nowrap">No. Of Persons</th>
                    <th class="text-nowrap">Phone No.</th>
                    <th class="text-nowrap">Email</th>
                    <th class="text-center text-nowrap">Action</th>
                </tr>
            </thead>
            <tbody id="waitingListTable">
                @* partialview *@
            </tbody>
        </table>
    </div>
</div>

<!----------------------- modal-------------------->
<div id="AddWaitingTOkenModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Waiting Token</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="waitingTokenFormId">
                <div class="modal-body row">
                    <div class="form-floating  col-12 mb-3">
                        <input type="text" class="form-control" id="Email"
                            asp-for="@Model.waitingTokenDetailsViewModel.Email" placeholder="Email*">
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.Email"
                            class="text-danger RemoveValidations" id="RemoveValidations"></span>
                        <label for="Email"> &nbsp; Email*</label>
                    </div>
                    <div class="form-floating  col-12 mb-3">
                        <input type="text" class="form-control" id="Name"
                            asp-for="@Model.waitingTokenDetailsViewModel.Name" placeholder="Name*">
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.Name"
                            class="text-danger RemoveValidations" id="RemoveValidations"></span>
                        <label for="Name"> &nbsp; Name*</label>
                    </div>
                    <div class="form-floating  col-12 mb-3">
                        <input type="text" class="form-control" id="mobile"
                            asp-for="@Model.waitingTokenDetailsViewModel.Mobileno" placeholder="Mobile Number*">
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.Mobileno"
                            class="text-danger RemoveValidations" id="RemoveValidations"></span>
                        <label for="Mobile"> &nbsp; Mobile Number*</label>
                    </div>
                    <div class="form-floating  col-md-6 col-12 mb-3">
                        <input type="text" class="form-control" id="persons"
                            asp-for="@Model.waitingTokenDetailsViewModel.NoOfPerson" placeholder="Mobile Number*">
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.NoOfPerson"
                            class="text-danger RemoveValidations" id="RemoveValidations"></span>
                        <label for="persons"> &nbsp; No Of persons*</label>
                    </div>
                    <div class="form-floating  col-md-6 col-12 mb-3">
                        <select asp-for="@Model.waitingTokenDetailsViewModel.SectionID" class="form-control" id="EditTableModaldropDown">
                            @* @foreach (var items in Model.sectionList)
                                {
                                    <option value="@items.SectionId">@items.SectionName</option>
                                } *@
                        </select>
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.SectionName" class="text-danger "
                            id="RemoveValidations"></span>
                        <label for="EditTableModaldropDown"> &nbsp; Section*</label>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">save</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="AddWaitingTOkenModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Waiting Token</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="waitingTokenFormId">
                <div class="modal-body row">
                    <div class="form-floating  col-12 mb-3">
                        <input type="text" class="form-control" id="Email"
                            asp-for="@Model.waitingTokenDetailsViewModel.Email" placeholder="Email*">
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.Email"
                            class="text-danger RemoveValidations" id="RemoveValidations"></span>
                        <label for="Email"> &nbsp; Email*</label>
                    </div>
                    <div class="form-floating  col-12 mb-3">
                        <input type="text" class="form-control" id="Name"
                            asp-for="@Model.waitingTokenDetailsViewModel.Name" placeholder="Name*">
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.Name"
                            class="text-danger RemoveValidations" id="RemoveValidations"></span>
                        <label for="Name"> &nbsp; Name*</label>
                    </div>
                    <div class="form-floating  col-12 mb-3">
                        <input type="text" class="form-control" id="mobile"
                            asp-for="@Model.waitingTokenDetailsViewModel.Mobileno" placeholder="Mobile Number*">
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.Mobileno"
                            class="text-danger RemoveValidations" id="RemoveValidations"></span>
                        <label for="Mobile"> &nbsp; Mobile Number*</label>
                    </div>
                    <div class="form-floating  col-md-6 col-12 mb-3">
                        <input type="text" class="form-control" id="persons"
                            asp-for="@Model.waitingTokenDetailsViewModel.NoOfPerson" placeholder="Mobile Number*">
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.NoOfPerson"
                            class="text-danger RemoveValidations" id="RemoveValidations"></span>
                        <label for="persons"> &nbsp; No Of persons*</label>
                    </div>
                    <div class="form-floating  col-md-6 col-12 mb-3">
                        <select asp-for="@Model.waitingTokenDetailsViewModel.SectionID" class="form-control" id="EditTableModaldropDown">
                            @* @foreach (var items in Model.sectionList)
                                {
                                    <option value="@items.SectionId">@items.SectionName</option>
                                } *@
                        </select>
                        <span asp-validation-for="@Model.waitingTokenDetailsViewModel.SectionName" class="text-danger "
                            id="RemoveValidations"></span>
                        <label for="EditTableModaldropDown"> &nbsp; Section*</label>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">save</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section scripts {
    <script>
        var pageNumber;
        var sectionId;
        function sectionSelected(tag) {
            pageNumber = 1;
            sectionId = tag.getAttribute("data-sectionid");
            var allclasses = document.getElementsByClassName("allCategory");
            for (var i = 0; i < allclasses.length; i++) {
                allclasses[i].classList.remove("KOTCategorySelect");
            }
            tag.classList.add("KOTCategorySelect");
            getWaitingListBySection(sectionId)
        }

        //to get list of all section
        function getAllSection() {
            $.ajax({
                url: "GetAllSection",
                type: "GET",
                success: function (data) {
                    $("#sectionListDisplay").html(data);
                }
            })
        }

        //get waiting token based on section
        function getWaitingListBySection(sectionId) {
            $.ajax({
                url: "/OrderAppWaitingList/GetWaitingListBySection",
                type: "Get",
                data: { sectionId },
                success: function (data) {
                    $("#waitingListTable").html(data);
                }
            })
        }

        //getSectionsDropdown
        function getSectionList(){
            $.ajax({
            url: "/TableAndSection/GetSectionList",
            type: "GET",
            success: function (data) {
                console.log(data);
                $("#EditTableModaldropDown").empty();
                for (i = 0; i < data.length; i++) {
                    $("#EditTableModaldropDown").append(`<option value="${data[i].sectionId}">${data[i].sectionName}</option>`);
                }
            }
        });
        }
        

        //Add waiting token
        $(document).on("submit", "#waitingTokenFormId", function (e) {
            e.preventDefault();
            let form = $("#waitingTokenFormId");
                let formData = new FormData(this);
                $.ajax({
                    url: "/OrderAppWaitingList/AddWaitingToken",
                    type: "Post",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (res) {
                        if (res.success) {
                            successToaster(res.text);
                        } else {
                            errorToaster(res.text);
                        }
                        $(".btn-close").click();
                    }
                })
        })

        //edit waiting modal get
        function UpdateWaitingListModal(){
            
        }



        $(document).ready(function () {
            getAllSection();
            getWaitingListBySection(0);
            getSectionList();
        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <partial name="_Toaster" />
}
    