 @using DAL.ViewModels;
@model PaginationViewModel<CustomerViewModel> 


@if (Model.Items.Count == 0)
{
    <tr>
        <td colspan="8" class="text-center text-danger fw-bold">No Data Found</td>
    </tr>
}
else
{
    @foreach (var item in Model.Items)
    {
        <tr class="border border-end-0 border-start-0 border-top-0 border-bottom-1">
            <td class="text-nowrap align-content-center d-flex mt-1"><p class="ms-2 mt-0">@item.CustomerName</p></td>
            <td class="text-nowrap text-center">@item.Email</td>
            <td class="text-nowrap text-center">@item.Phoneno</td>
            <td class="text-nowrap text-center">@item.date</td>
            <td class="text-nowrap text-center">@item.TotalOrders</td>
            
        </tr>
    }
}
<input type="hidden" value="@Model.TotalCount" id="totalCount">
