@using DAL.ViewModels;
@model PaginationViewModel<ItemsViewModel>


@if (Model.Items.Count == 0)
{
    <tr>
        <td colspan="6" class="text-center text-danger fw-bold">No Data Found</td>
    </tr>
}
else
{
    @foreach (var item in Model.Items)
    {
        <tr>
            <td class="d-md-flex"><input type="checkbox" class="me-3">
                <img src="@item.ItemImage" class="d-lg-block d-none " style="border-radius: 50%;" alt="" width="30px">
                @item.ItemName
            </td>
            <td><img src="@item.TypeImage" width="20px">
            </td>
            <td>@item.Rate</td>
            <td>@item.Quantity</td>
            <td class="">
                <div class="form-check form-switch">
                    @if (item.Isavailable == true)
                    {
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                    }

                </div>
            </td>
            <td>
                <i class="fa-solid fa-pen w-25 me-sm-2 me-xs-2 me-lg-0"></i>
                <i class="fa-solid fa-trash-can" data-bs-toggle="modal" data-bs-target="#exampleModal-deleteItem"></i>
            </td>
        </tr>
    }
}