@model DAL.ViewModels.MenuViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- add category modal -->
<div id="exampleModal-addcategory" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddCategory" asp-controller="Menu">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput"
                            asp-for="@Model.category.CategoryName" placeholder="name" required>
                        <span asp-validation-for="@Model.category.CategoryName" class="text-danger"></span>
                        <label for="floatingInput">Name</label>
                    </div>
    
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here"
                            asp-for="@Model.category.Description" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">save</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit category modal -->
<div id="exampleModal-editcategory" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="EditCategory" asp-controller="Menu">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="hidden" asp-for="@Model.category.CategoryId" id="category-id">
                        <input type="text" class="form-control" id="category-name"
                            asp-for="@Model.category.CategoryName" placeholder="name" required>
                        <span asp-validation-for="@Model.category.CategoryName" class="text-danger"></span>

                        <label for="category-name">Name</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here"
                            asp-for="@Model.category.Description" id="category-description"></textarea>
                        <label for="category-description">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="updatebtn" class="btn btn-primary">save</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- delete category -->
<div id="exampleModal-deleteCategory" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Conformation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="delete-cat-image d-flex flex-column  align-items-center">
                    <img src="images/toppng.com-warning-icon-2400x2400.png" width="50px" alt="">
                    <p>Are you sure you want to delete this Category?</p>
                </div>
            </div>
            <form asp-action="DeleteCategory" asp-controller="Menu">
                <input type="hidden" asp-for="@Model.category.CategoryId" id="category-id-fordelete" name="id">
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Items modal-->
<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Menu Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddItem" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <!-- Left Section (Form) -->
                        <div class="col-lg-7 col-md-12">
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect" asp-for="@Model.additem.CategoryId" >
                                            @foreach(var cat in Model.categories){
                                                <option value="@cat.CategoryId">@cat.CategoryName</option>
                                            }
                                        </select>
                                        <label for="floatingSelect">Categories*</label>
                                        <span class="text-danger" asp-validation-for="@Model.additem.CategoryId"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" asp-for="@Model.additem.ItemName" placeholder="Name*">
                                        <label for="floatingInput">Name*</label>
                                        <span class="text-danger" asp-validation-for="@Model.additem.ItemName"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect" asp-for="@Model.additem.ItemTypeId">
                                            <option value="1" selected>veg</option>
                                            <option value="2">Non-veg</option>
                                            <option value="3">Vegan</option>
                                        </select>
                                        <label for="floatingSelect">Item Type*</label>
                                        <span class="text-danger" asp-validation-for="@Model.additem.ItemTypeId"></span>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="Rate*" asp-for="@Model.additem.Rate"
                                           >
                                        <label for="floatingInput">Rate*</label>
                                        <span class="text-danger" asp-validation-for="@Model.additem.Rate"></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="floatingInput" asp-for="@Model.additem.Quantity"
                                            placeholder="Quantity*" >
                                        <label for="floatingInput">Quantity*</label>
                                        <span class="text-danger" asp-validation-for="@Model.additem.Quantity"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect" asp-for="@Model.additem.Unit">
                                            <option value="pieces">Pieces</option>
                                            <option value="cm">cm</option>
                                        </select>
                                        <label for="floatingSelect">Unit*</label>
                                        <span class="text-danger" asp-validation-for="@Model.additem.Unit"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="available" asp-for="@Model.additem.Isavailable">
                                        <label class="form-check-label" for="available">Available</label>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="defaultTax" asp-for="@Model.additem.Isdefaulttax" >
                                        <label class="form-check-label" for="defaultTax">Default Tax</label>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="taxPercentage" asp-for="@Model.additem.TaxValue"
                                            placeholder="Tax-Percentage*">
                                        <label for="taxPercentage" style="text-wrap: noWrap;">Tax Percentage*</label>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="shortCode" asp-for="@Model.additem.ShortCode"
                                            placeholder="Short Code*">
                                        <label for="shortCode">Short Code*</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Description" id="description" asp-for="@Model.additem.Description"
                                            style="height: 80px"></textarea>
                                        <label for="description">Description</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12">
                                    <label for="uploadFile" class="border border-dashed rounded p-3 text-center w-100">
                                        <span class="d-flex flex-column justify-content-center align-items-center">
                                            <i class="fa-solid fa-cloud-arrow-up fs-2"></i>
                                            <span>Drag & Drop or Browse files</span>
                                        </span>
                                    </label>
                                    <input type="file" class="d-none" id="uploadFile" asp-for="@Model.additem.ItemFormImage">
                                </div>
                            </div>
                        </div>

                        <!-- Right Section (Modifiers) -->
                        <div class="col-lg-5 col-md-12 bg-light p-3 rounded">
                            <h6>Select Modifier Groups</h6>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="extraCheese">
                                <label class="form-check-label" for="extraCheese">Extra Cheese</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="spicy">
                                <label class="form-check-label" for="spicy">Spicy</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="noOnions">
                                <label class="form-check-label" for="noOnions">No Onions</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="glutenFree">
                                <label class="form-check-label" for="glutenFree">Gluten-Free</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Buttons -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- add Modifier group modal -->
<div id="exampleModal-addmodifiergroup" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Modifier Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name" required>
                    <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Description</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">save</button>
                <button type="button" class="btn btn-outline-primary">cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- delete item -->
<div id="exampleModal-deleteItem" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Conformation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="delete-cat-image d-flex flex-column  align-items-center">
                    <img src="images/toppng.com-warning-icon-2400x2400.png" width="50px" alt="">
                    <p>Are you sure you want to delete this Item?</p>
                </div>

            </div>
            <form asp-action="DeleteItem" asp-controller="Menu">
            <div class="modal-footer d-flex justify-content-center">
                <input type="hidden"  id="deleteItemId" name="itemID">
                <button type="submit" class="btn btn-primary" >Yes</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- delete all item -->
<div id="exampleModal-deleteAllItem" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Conformation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="delete-cat-image d-flex flex-column  align-items-center">
                    <img src="images/toppng.com-warning-icon-2400x2400.png" width="50px" alt="">
                    <p>Are you sure you want to delete All These Items?</p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" id="deleteAllItemsModalYesButton" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
            </div>
           
        </div>
    </div>
</div>


<!-- add new modifier modal -->
<div id="exampleModal-addmodifier" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Modifier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-floating col-6">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Select Modifier (Group)</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-floating col-6 mb-2 p-1">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name" required>
                        <label for="floatingInput">Name</label>
                    </div>
                    <div class="form-floating col-4 p-1">
                        <input type="text" class="form-control" id="floatingInput" placeholder="0" required>
                        <label for="floatingInput">Rate</label>
                    </div>
                    <div class="form-floating col-4 p-1">
                        <input type="text" class="form-control" id="floatingInput" placeholder="0" required>
                        <label for="floatingInput">Quantity</label>
                    </div>
                    <div class="form-floating col-4 mb-2">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Select a unit</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-floating col-12 p-1">
                        <textarea class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Description</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">save</button>
                <button type="button" class="btn btn-outline-primary">cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Update modifier modal -->
<div id="exampleModal-updatemodifier" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Modifier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-floating col-6">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Select Modifier (Group)</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-floating col-6 mb-2 p-1">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name" required>
                        <label for="floatingInput">Name</label>
                    </div>
                    <div class="form-floating col-4 p-1">
                        <input type="text" class="form-control" id="floatingInput" placeholder="0" required>
                        <label for="floatingInput">Rate</label>
                    </div>
                    <div class="form-floating col-4 p-1">
                        <input type="text" class="form-control" id="floatingInput" placeholder="0" required>
                        <label for="floatingInput">Quantity</label>
                    </div>
                    <div class="form-floating col-4 mb-2">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Select a unit</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-floating col-12 p-1">
                        <textarea class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Description</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">save</button>
                <button type="button" class="btn btn-outline-primary">cancel</button>
            </div>
        </div>
    </div>
</div>


<!--menu user  -->
<div class="menu-header-main-div  d-flex justify-content-between mt-2 ">
    <!-- menu txt -->
    <div class="menu-div d-flex col-md-6">
        <div class="menu-text fs-2 fw-bold text-primary">Menu</div>
    </div>
</div>

<!-- categories -->
<div class="container menu-main-div mt-3 ">
    <div class="inner-div bg-white">

        <!-- tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                    <div class="item-div d-flex align-items-center justify-content-start ms-3">
                        <i class="fa-solid fa-list-ul  fs-5"></i>
                        <p class="  fs-5 ms-2 mt-2 fw-semibold">Items</p>
                    </div>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                    <div class="modifiers-div d-flex fs-5 ms-4 align-items-center ">
                        <i class="fa-solid fa-table"></i>
                        <p class="fs-5 ms-2 mt-2 fw-semibold">Modofiers</p>
                    </div>
                </button>
            </li>
        </ul>

        <!-- tab content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                tabindex="0">
                <div class="div-for-tab-color">&nbsp</div>
                <div class="categories-main-div container-fluid">
                    <div class="row">
                        <div
                            class="left-sidebar-category-main-div bg-light mt-2 pt-0 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-md-start justify-content-center ">

                            <div class=" w-100 justify-content-center">

                                <!-- logo -->
                                <div class="logo-main-div d-flex justify-content-between mb-3">

                                    <div class="logo-text text-primary fs-5 mt-2  ms-1 fw-semibold">
                                        Category
                                    </div>
                                    <div class="logo-image ">
                                        <i class="fa-regular fa-square-plus fs-4 text-primary mt-3"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal-addcategory"></i>
                                    </div>
                                </div>

                                <!-- Sandwich -->
                               @{var flag =true;

                                @foreach (var cat in Model.categories)
                                {
                                    <div class="categories-div d-flex justify-content-between text-dark col-md-12 col-6  p-1 @(flag?"active-category":"")"  data-id="@cat.CategoryId" >
                                        
                                        <div  class="d-flex "  >
                                                <i class="fa-solid fa-receipt mt-1 "></i>
                                                <p class="text-size-set mt-0  m-0 ms-3 ">@cat.CategoryName</p>
   
                                        </div>
                                        <div>
                                            <input type="hidden" value="@cat.Description">
                                            <i class="fa-solid fa-pen fs-6 iconeditdelete" onclick="GetdetailsForUpdate(this)"
                                                data-id="@cat.CategoryId" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal-editcategory"></i>
                                            <i class="fa-solid fa-trash-can iconeditdelete fs-6  ms-1" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal-deleteCategory" data-id="@cat.CategoryId"
                                                onclick="GetIdForDelete(this)"></i>
                                        </div>

                                    </div>
                                    flag=false;
                                }
                                }

                            </div>
                        </div>

                        <div
                            class=" right-side-table-div bg-white mt-2 pt-0 com-sm-12 col-md-8 col-lg-9 col-xl-10 col-12 ">
                            <div class="item-list-main-div  d-lg-flex justify-content-between mt-2">
                                <!-- item txt -->
                                <div class="item-div d-flex col-md-3">
                                    <div class="item-text fs-3 fw-bold text-primary">Items</div>
                                </div>

                                <!-- search add itemr -->
                                <div class="search-item-div d-flex  align-items-center justify-content-between mt-2">
                                    <div class="search-button ">
                                         @if(Model.Pagination.Items.Count != 0 ){
                                        <input type="hidden" id="category-id-items" value="@Model.Pagination.Items[0].CategoryId">
                                        <input type="text" id="searchbtn" placeholder="Search" class="p-1 border ">
                                        <i class="fa-solid fa-magnifying-glass search-icon-style "></i>
                                        }
                                    </div>
                                    <div class="discard-button">
                                        <a href="#" class="btn  p-1 ps-2 pe-2 ms-3 border" data-bs-toggle="modal" data-bs-target="#exampleModal-deleteAllItem" ><i
                                                class="fa-solid fa-trash-can "></i></a>

                                    </div>
                                    <div class="additem-button">
                                        <button class="btn btn-primary text-light p-2 ms-3 border text"
                                            data-bs-toggle="modal" data-bs-target="#addItemModal">+ Add Item</button>
                                       
                                        </div>

                                </div>
                            </div>
                            <div class="table-main-div table-responsive mt-3 bg-white mx-auto w-100 ">
                                @if(Model.Pagination.Items.Count == 0){
                                    <h3 class="d-flex justify-content-center align-items-center text-danger">No data found</h3>
                                }
                                else{
                                    <table class="table" id="demo1">
                                    <thead>
                                        <tr>
                                            <th scope="col"><input type="checkbox"  id="checkboxForSelectAllItem" onclick="SelectAllItem()" class="me-3">
                                                Name</th>
                                            <th scope="col">Item Type</th>
                                            <th scope="col">Rate</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Available</th>
                                            <th scope="col">Action </th>
                                        </tr>
                                    </thead>
                                    <tbody id="itemListBody" style="white-space: nowrap; ">

                                        @await Html.PartialAsync("_ItemListPartal", Model.Pagination)

                                    </tbody>
                                </table>
                                }
                                @*  Pagination div *@
                                <div class="pagination-main-div d-flex justify-content-end gap-2 p-3 pt-0 bg-white ">

                                   @if(Model.Pagination.Items.Count != 0){
                                     <span class="mt-2">Items Per page:</span>

                                    <select id="itemsperpage">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>

                                    <span class=" mt-2 ms-1" id="pagination-text"></span>
                                    <a id="left-arrow" class="btn border border-dark bg-light ms-2">&lt;</a>
                                    <a id="right-arrow" class="btn border border-dark bg-light ms-2">&gt;</a>
                                   }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            @* Modifier *@
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpane2" aria-labelledby="profile-tab" tabindex="1">
                <div class="div-for-tab-color">&nbsp</div>
                <div class="categories-main-div container-fluid">
                    <div class="row ">
                        <div
                            class="left-sidebar-category-main-div bg-white mt-2 pt-0 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-md-start justify-content-center ">

                            <div class="row w-100 justify-content-center mt-2">
                                <!-- logo -->
                                <div class="logo-main-div d-flex justify-content-between">

                                    <div class="logo-text text-primary fs-5 mt-2  ms-1 fw-semibold">
                                        Modifier Group
                                    </div>
                                    <div class="logo-image ">
                                        <i class="fa-regular fa-square-plus fs-4 text-primary mt-3"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal-addmodifiergroup"></i>
                                    </div>
                                </div>

                                <!-- Sandwich -->
                                <div class="category-active-div d-flex align-items-center col-md-12 col-6   p-2">
                                    <i class="fa-solid fa-receipt mt-2"></i>
                                    <p class="text-size-set   m-0 ms-3 ">Veggies</p>
                                </div>

                                <!-- Pasta -->
                                <div class="category-inactive-div d-flex align-items-center col-md-12 col-6  p-2 ">
                                    <i class="fa-solid fa-receipt mt-2 "></i>
                                    <p class="users-text-inactive text-size-set  m-0 ms-3 ">
                                        Crust Options</p>
                                </div>

                                <!--Sides And Appetizer -->
                                <div class="category-inactive-div d-flex  p-2 col-md-12 col-6 ">
                                    <i class="fa-solid fa-receipt mt-1 "></i>
                                    <p class="role-text-inactive  text-size-set m-0 ms-3">
                                        Cheese Options</p>
                                </div>

                                <!-- Salads -->
                                <div class="category-inactive-div d-flex align-items-center col-md-12 col-6 p-2 ">
                                    <i class="fa-solid fa-receipt "></i>
                                    <p class="menu-text-inactive text-size-set m-0 ms-3 ">
                                        Souce Options</p>
                                </div>

                                <!-- Dips And Sauces-->
                                <div class="category-inactive-div d-flex col-md-12 col-6 p-2">
                                    <i class="fa-solid fa-receipt mt-1"></i>
                                    <p class="table-text-inactive text-size-set   m-0 ms-3">
                                        Topping Options
                                    </p>
                                </div>

                                <!-- Pizza -->
                                <div class="category-inactive-div d-flex col-md-12 col-6 p-2">
                                    <i class="fa-solid fa-receipt mt-1"></i>
                                    <p class="taxes-text-inactive text-size-set m-0 ms-3 ">
                                        Size Options</p>
                                </div>




                            </div>
                        </div>

                        <div
                            class="right-side-table-div bg-white mt-2 pt-0 com-sm-12 col-md-8 col-lg-9 col-xl-10 col-12 ">
                            <div class="item-list-main-div  d-lg-flex justify-content-between mt-2">
                                <!-- item txt -->
                                <div class="item-div d-flex col-md-3">
                                    <div class="item-text fs-3 fw-bold text-primary">Items</div>
                                </div>

                                <!-- search add itemr -->
                                <div class="search-item-div d-flex  align-items-center justify-content-between mt-2">
                                    <div class="search-button ">
                                        <input type="text" name="" id="" placeholder="Search" class="p-1 border ">
                                        <i class="fa-solid fa-magnifying-glass search-icon-style "></i>
                                    </div>
                                    <div class="discard-button">
                                        <a href="#" class="btn  p-1 ps-2 pe-2 ms-3 border"><i
                                                class="fa-solid fa-trash-can "></i></a>

                                    </div>
                                    <div class="additem-button">
                                        <a href="#" class="btn btn-primary text-light p-2 ms-3 border text"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal-addmodifier">+
                                            Add
                                            Item</a>
                                    </div>

                                </div>
                            </div>
                            <div class="table-main-div table-responsive mt-3 bg-white mx-auto w-100 ">
                                <table class="table" id="demo">
                                    <thead>
                                        <tr>
                                            <th scope="col"><input type="checkbox" name="" id="" class="me-3">
                                                Name</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Rate</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Action </th>
                                        </tr>
                                    </thead>
                                    <tbody style="white-space: nowrap;">
                                        <tr>
                                            <td><input type="checkbox" class="me-3" name="" id="">Capsicum</td>
                                            <td>pcs</td>
                                            <td class="">
                                                30
                                            </td>
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                <i class="fa-solid fa-pen w-25" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-updatemodifier"></i>
                                                <i class="fa-solid fa-trash-can" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-deleteItem"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" class="me-3" name="" id="">Capsicum</td>
                                            <td>pcs</td>
                                            <td class="">
                                                30
                                            </td>
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                <i class="fa-solid fa-pen w-25 " data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-updatemodifier"></i>
                                                <i class="fa-solid fa-trash-can" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-deleteItem"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" class="me-3" name="" id="">Capsicum</td>
                                            <td>pcs</td>
                                            <td class="">
                                                30
                                            </td>
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                <i class="fa-solid fa-pen w-25" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-updatemodifier"></i>
                                                <i class="fa-solid fa-trash-can" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-deleteItem"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" class="me-3" name="" id="">Capsicum</td>
                                            <td>pcs</td>
                                            <td class="">
                                                30
                                            </td>
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                <i class="fa-solid fa-pen w-25" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-updatemodifier"></i>
                                                <i class="fa-solid fa-trash-can" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-deleteItem"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" class="me-3" name="" id="">Capsicum</td>
                                            <td>pcs</td>
                                            <td class="">
                                                30
                                            </td>
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                <i class="fa-solid fa-pen w-25" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-updatemodifier"></i>
                                                <i class="fa-solid fa-trash-can" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal-deleteItem"></i>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>


            </div>

        </div>




    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
            console.log("successMessage", successMessage);
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        })
    </script>
    @* 
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            var editModal = document.getElementById('exampleModal-editcategor');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                
                var updatebtn = event.relatedTarget;
                var id = deletebtn.getAttribute('data-id');
                var editIdInput = document.getElementById('category-id');
                deleteEmailInput.value = email;
            });
        });
    </script> *@


    <script>
        let catid;
        function GetdetailsForUpdate(tag) {
            console.log(tag)
            document.getElementById("category-id").value = tag.getAttribute("data-id");
            @* console.log(tag.getAttribute("data-id")); *@
                document.getElementById("category-name").value = tag.parentElement.parentElement.children[0].children[1].innerHTML;
            document.getElementById("category-description").value = tag.parentElement.children[0].value;
            @* console.log(tag.parentElement.parentElement.children[1].value;) *@
                            }

        function GetIdForDelete(tag) {
            console.log("delete")
            document.getElementById("category-id-fordelete").value = tag.getAttribute("data-id");
            console.log(tag.getAttribute("data-id"));
        }

        function getIdForDeleteItem(tag){
            document.getElementById("deleteItemId").value = tag.getAttribute("data-id");
            console.log( tag.getAttribute("data-id"));
        }

        function SelectAllItem(){
            var classess=document.getElementsByClassName("massDeleteClass");
            var deleteAllItemCkeckbboxId =document.getElementById("checkboxForSelectAllItem");
            console.log(classess)

            if(deleteAllItemCkeckbboxId.checked){
                for(i=0; i<classess.length;i++){
                    classess[i].checked=true;;
                }
            }
            if(!deleteAllItemCkeckbboxId.checked){
                for(i=0; i<classess.length;i++){
                    classess[i].checked=false;;
                }
            }
        }

        function checkboxTickManage(){  
            var classess=document.getElementsByClassName("massDeleteClass");
            var deleteAllItemCkeckbboxId =document.getElementById("checkboxForSelectAllItem");
            flag=true;
            for(i=0;i<classess.length;i++){
                if(!classess[i].checked){
                    flag=false;
                }
            }
            @* for(i=0;i<classess.length;i++){
                if(classess[i].checked){
                    flag=true;
                }
            } *@
            deleteAllItemCkeckbboxId.checked =flag
        }

        
    </script>

    <script>
        $(document).ready(function () {
            let currentPage = 1;
            let pageSize = $("#itemsperpage").val();
            let searchText = $("#searchbtn").val();
            let catID = $("#category-id-items").val();
            console.log("c:", catID);

            function loadTable(catID, search = "", page = 1, pageSize = 5) {
                $.ajax({
                    url: "/Menu/MenuItemPagination",
                    type: "GET",
                    data: { catID, search, pageNumber: page, pageSize },
                    success: function (data) {
                        $("#itemListBody").html(data);
                        @* console.log(@Model.Pagination.Items) *@
                            @* console.log(data) *@
                        currentPage = page;
                        @* console.log("s:",search) *@
                            let startItem = (page - 1) * pageSize + 1;
                        let totalRecords = @Model.Pagination.TotalCount;
                        let endItem = Math.min(page * pageSize, totalRecords);

                        $("#pagination-text").text("Showing " + startItem + " - " + endItem + " of " + totalRecords);
                        $("#left-arrow").prop("disabled", page === 1);
                        $("#right-arrow").prop("disabled", page * pageSize >= totalRecords);
                        SelectAllItem(); 
                        checkboxTickManage();
                        
                    }
                });
               
            }

            
            loadTable(catID, searchText, currentPage, pageSize);
            // Search on keyup
            $("#searchbtn").on("keyup", function () {
                searchText = $(this).val().trim();
                console.log(searchText);
                loadTable(catID, searchText, currentPage, pageSize);
                
            });

            $(".categories-div").on("click",function(){
                $(".categories-div").removeClass("active-category");
                $(this).addClass("active-category");
                catID = $(this).data("id");
                loadTable(catID, searchText, currentPage, pageSize);
            })

            // Pagination buttons
            $("#right-arrow").on("click", function () {
                let rightarrow = !$(this).prop("disabled");
                console.log(rightarrow);
                if (rightarrow) {
                    currentPage++;
                    loadTable(catID, searchText, currentPage, pageSize);
                    @* SelectAllItem();  *@
                }
            });

            $("#deleteAllItemsModalYesButton").on("click",function(){
                 var classess=document.getElementsByClassName("massDeleteClass");
                 console.log("delete all")
                 for(i=0; i<classess.length;i++){
                    if(classess[i].checked){

                        let itemID = classess[i].getAttribute("data-checkid");
                        console.log(itemID)
                        $.ajax({
                             url: `/Menu/DeleteItem?itemID=${itemID}`,
                            type: "GET",
                            success: function (data) {
                                
                                loadTable(catID, searchText, currentPage, pageSize);
                            }
                        })
                    }
                }
            })


            $("#left-arrow").on("click", function () {
                let leftarrow = !$(this).prop("disabled");
                console.log(leftarrow);
                if (leftarrow) {
                    currentPage--;
                    loadTable(catID, searchText, currentPage, pageSize);
                    @* SelectAllItem();  *@
                }
            });

            // Items per page dropdown
            $("#itemsperpage").on("change", function () {
                pageSize = $(this).val();
                console.log(pageSize);
                loadTable(catID, searchText, currentPage, pageSize);
            });
           

            // Initial table load
        });
    </script>
    @* <script>
    console.log("hello");
     $(document).ready(function () {
            console.log("Hello world")});
</script> *@

 @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
