@model DAL.ViewModels.OrderDetaIlsInvoiceViewModel;
@{
    int SrNo = 1;
}


<div style="margin-left: 90px; margin-right: 90px;">
    <div style="text-align: center;">
        <img src="logo.png" alt="PIZZASHOP Logo" style="width: 100px;">
        <h2 style="color: #0056b3;">PIZZASHOP</h2>
    </div>



    <div style="display: flex;  margin-bottom: 50px;">
        <div style="margin-right: 250px;">
            <h5 style="color: #0056b3; text-wrap: nowrap;">Customer Details</h5>
            <div style="text-wrap: nowrap;"><strong>Name:</strong> @Model.CustomerName</div>
            <div style="text-wrap: nowrap;"><strong>Mob:</strong> @Model.Phoneno</div>
        </div>
        <div>
            <h5 style="color: #0056b3;">Order Details</h5>
            <div style="text-wrap: nowrap;"><strong>Invoice Number:</strong> @Model.InvoiceNo</div>
            <div style="text-wrap: nowrap;"><strong>Date:</strong> @Model.OrderDate</div>
            <div style="text-wrap: nowrap;"><strong>Section:</strong> @Model.SectionName</div>
            <div style="text-wrap: nowrap;"><strong>Table:</strong>
                @for (int i = 0; i < Model.tableList.Count; i++)
                {
                    <span>@Model.tableList[i].TableName</span>
                    if (i < Model.tableList.Count - 1)
                    {

                        <span>,</span>
                    }
                }
            </div>
        </div>
    </div>


    <table style="width: 100%; border-collapse: collapse; ">
        <tr style="background-color: #0056b3; color: white;">
            <th style="padding: 10px; text-align: left;">Sr.No.</th>
            <th style="padding: 10px; text-align: left;">Item</th>
            <th style="padding: 10px; text-align: right;">Quantity</th>
            <th style="padding: 10px; text-align: right;">Unit Price</th>
            <th style="padding: 10px; text-align: right;">Total</th>
        </tr>
        @foreach (var item in Model.ItemsInOrderDetails)
        {
            <tr style="border-bottom: 1px solid #ddd;">
                <td>@SrNo</td>
                <td>@item.ItemName
                    @foreach (var modifier in item.ModifiersInItemInvoice)
                    {
                        <li class="list-item">@modifier.ModifierName</li>
                    }
                </td>
                <td>@item.Quantity
                    @foreach (var modifier in item.ModifiersInItemInvoice)
                    {
                        <br>

                        <span class="list-item">@modifier.Quantity</span>
                    }
                </td>
                <td class="text-end">@item.Rate
                    @foreach (var modifier in item.ModifiersInItemInvoice)
                    {
                        <br>

                        <span class="list-item">@modifier.Rate</span>
                    }
                </td>
                <td class="text-end">@item.TotalOfItemByQuantity
                    @foreach (var modifier in item.ModifiersInItemInvoice)
                    {
                        <br>

                        <span class="list-item">@modifier.TotalOfModifierByQuantity</span>
                    }
                </td>
                @{
                    SrNo++;
                }
            </tr>

        }

    </table>

    <table style="width: 100%; margin-top: 20px;">
        <tr>
            <td style="text-align: left; padding: 8px;">Sub Total:</td>
            <td style="text-align: right; padding: 8px;">@Model.SubTotalAmountOfOrder</td>
        </tr>

        @foreach (var tax in Model.TaxesInOrderDetails)
        {
            <tr>
            <td style="text-align: left; padding: 8px;">@tax.TaxName:</td>
            <td style="text-align: right; padding: 8px;">@tax.TaxValue</td>
            </tr>
        }
        
        <tr>
            <td colspan="2">
                <hr style="background-color: #0056b3; height: 2px;">
            </td>
        </tr>
        <tr style="font-weight: bold;">
            <td style="text-align: left; padding: 8px; font-size: 18px; color: #0056b3;">Total Amount Due:</td>
            <td style="text-align: right; padding: 8px; font-size: 18px; color: #0056b3;">@Model.TotalAmountOfOrderMain</td>
        </tr>
    </table>

    <h4 style="text-align: left; color: #0056b3;">Payment Information</h4>
    <p>Payment Method: Pending</p>

    <p style="text-align: center; font-weight: bold; margin-top: 20px;">THANK YOU!</p>
</div>
