@using DAL.ViewModels;
@model List<ItemsViewModel>

@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div class="d-flex mt-2" onclick="ModifiersByItemSeleted(this)"  data-itemId="@item.ItemId" style="height: 65px;">
            <div 
                style="max-width: fit-content;  border-radius: 0.7rem !important; z-index: 3; ">
                <div class="d-flex justify-content-center align-items-center" style="height: 65px; width: 65px; ">
                    <img src="@item.ItemImage" width="100%" height="100%" style=" border-radius: 0.7rem !important;" class=" bg-white">
                </div>
            </div>
            <div style="z-index:2; height: 65px; min-width: 200px; border-top-right-radius: 0.7rem !important; border-bottom-right-radius: 0.7rem !important;"
                class="bg-white d-flex justify-content-between">
                <div class="ms-2 py-1 d-flex flex-column justify-content-between">
                    <span class="text-nowrap">@item.ItemName</span>
                    <span>₹@item.Rate</span>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <span
                        style="clip-path: polygon(0% 0%, 100% 100%, 100% 0%); height: 30px; width: 30px; border-top-right-radius: 0.7rem; "
                        class="@(item.ItemTypeId == 1 ? "bg-success" : item.ItemTypeId == 2 ? "bg-danger" : "bg-warning")"></span>
                    <span><i class="@(item.IsFavourite ? "fa-solid" : "fa-regular") @(item.IsFavourite ? "text-primary" : "") fa-heart"
                            data-itemId="@item.ItemId" onclick="FavouriteItemManage(event,this)"></i></span>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="col-12 d-flex justify-content-center align-items-center mt-3">
        <span class="fs-3 fw-bold text-secondary">No Items Found</span>
    </div>
}


<!--------modifiers by itemId modal---------- -->
<div id="ModifiersByItemId" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">

    </div>
</div>

<script>
    //fetch modifiers by itemId
    function ModifiersByItemSeleted(tag) {
        var itemId = tag.getAttribute("data-itemId");
        console.log(tag.children[1].children[0].children[0].innerHTML);
        $.ajax({
            url: "/OrderAppMenu/GetModifiersByItemId",
            type: "GET",
            data: { itemId: itemId },
            success: function (data) {
                data += `<input type="hidden" id="itemIdForOrderDetails" value=${itemId}>`
                $("#ModifiersByItemId .modal-dialog").html(data);
                document.getElementById("itemName").innerHTML = tag.children[1].children[0].children[0].innerHTML;
                $("#ModifiersByItemId").modal("show");
            }
        });
    }

    @* console.log(AllItems) *@
</script>
